name: Publish Package

on:
  workflow_dispatch:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write  # Required for OIDC
  contents: read   # To checkout the code

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm ci
      # NPM doesn't install devDependencies when a user downloads our package
      # but it sill counts them in the project dependency count.
      - run: npm pkg delete devDependencies
      - run: npm run build --if-present
      - run: npm publish